<div style="margin-top:20px;" class="jumbotron">
    <h1>Appointment Scheduler</h1>
    <p class="lead">Appointment scheduler api is used to communicate to Appointment Scheduler Database.</p>
    <p><a href="@Url.Action("Index","Help")" class="btn btn-primary btn-lg">See the list of API &raquo;</a></p>
</div>
<div class="row">
</div>
