<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AppScheduleDbContext" connectionString="data source=.;initial catalog=AppointmentScheduler;user id=sa;password=abhaya@123#;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="AppScheduleDbContext" connectionString="data source=185.135.130.41;initial catalog=AppointmentScheduler;user id=gohen;password=Mko@123wdv;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="AppScheduleDbContext" connectionString="data source=148.72.232.168;initial catalog=AppointmentScheduler;user id=sasa;password=rO?8ps36;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->

  </connectionStrings>
</configuration>