body {
    background: #4D606E;
    color: white;
}

div.well {
    height: 250px;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.absolute-center.is-login {
    width: 50%;
    height: 320px;
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
    background-color: #D3D4D8;
    color: #4D606E;
}
.absolute-center.is-forgot {
    width: 50%;
    height: 240px;
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
    background-color: #D3D4D8;
    color: #4D606E;
}

.absolute-center.is-register {
    width: 50%;
    height: 430px;
    min-width: 300px;
    max-width: 400px;
    padding: 10px;
    background-color: #D3D4D8;
    color: #4D606E;
}

#logo-container {
    padding:20px;
    text-align:center;
    font-size:2em;
}

.footer-bottom{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    z-index:-1;
}
.footer-bottom > div{
    text-align:center;
}

.btn-dark {
    background-color: #4D606E;
    color: #fff;
}

.btn-dark:hover {
    background-color: #627a8c;
    color: #D3D4D8;
}

.bg-dark {
    background-color: #D3D4D8;
    color: #D3D4D8;
}
.bg-bluegray {
    background-color: #78909c;
    color:#000;
}
.bg-gray {
    background-color: #9e9e9e;
    color:#000;
}

.bg-default{
    background-color:#d1d1d1;
    color:#000;
}

.bg-default:hover {
    background-color: #e1e1e1;
}

.bg-border-dark {
    border-bottom: 1px solid #4D606E !important;
}

.navbar-dark {
    background-color: #D3D4D8;
    color: #fff;
}

.navbar-custom {
    background-color:#D3D4D8;
    color:#4D606E;
    border:0;
}


.navbar-custom .navbar-nav > li > a {
    color:#4D606E;
}

.navbar-custom .navbar-nav > a {
    color: #4D606E;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li.active,
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .open >a {
    color: #ffffff !important;
    background-color: #4D606E;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}

.nav-a{
    color:#ffffff !important;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#4D606E;
}


.bg-box{
    padding:10px;
    max-width:600px;
    margin:0 auto;
}

.pnl-head{
    background-color:#384650;
    color:#ffffff;
    padding:15px 20px;
    margin-bottom:10px;
    font-size:1.5em;
}